@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap');
$color: #37B7C3;
$color1: #F5F7F8;
$color2: #F4CE14;
$color3: #379777;
$color4: #45474B;

@mixin flexBox($fd, $jc, $ai){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite NZ", cursive;
}
body{
    background-color: $color;
    width: 100%;
    min-height: 100vh;
    @include flexBox(row, center, center);
    .container{
        background-color: $color1;
        
        border-radius: 0.625rem;
        box-shadow: 0 0 5px $color4;
        width: 95%;
        // min-width: 400px;
        max-width: 350px;
        .form-container{
            margin: 1.125rem;
            h2{
                font-size: 2rem;
                text-align: center;
                color: $color2;
            }
            p{
                font-size: 0.625rem;
                text-align: center;
                color: $color4;
            }
            .input-box{
                margin: 0.813rem;
                @include flexBox(column, center, flex-start);
                position: relative;
                label{
                    font-size: 0.813rem;
                    color: $color2;
                    font-weight: 600;
                }
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 1px solid #F4CE14;
                }
                i{
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    color: $color2;
                    cursor: pointer;
                }
                i.eye{
                    color: $color4;
                }
                input[type="submit"]{
                    width: fit-content;
                    margin: 0.813rem auto; 
                    background-color: $color1;
                    padding: 0.413rem 0.813rem;
                    border-radius: 5px;
                    color: $color2;
                    border: 1px solid $color2;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    &:hover{
                        color: $color1;
                        background-color: $color2;
                    }
                }
                span{
                    font-size: 0.625rem;
                    color: red;
                    margin-top: 0.125rem;
                }
            }
        }

        .star-rating-container{
            .star-heading{
                width: 100%;
                height: 100px;
                background-color: $color2;
                border-top-left-radius: 0.625rem;
                border-top-right-radius: 0.625rem;
                position: relative;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 5rem;
                    padding: 0.813rem;
                    border-radius: 50%;
                    background-color: $color1;
                    color: $color2;
                    box-shadow: 0 0 1px $color4;
                }
            }
            .content{
                margin-top: 60px;
                padding: 30px 0;
                text-align: center;
                p{
                    font-size: 0.813rem;
                    line-height: 1.125rem;
                    font-weight: bold;
                    text-transform: capitalize;
                    color: $color4;
                }
                .stars{
                    margin: 3rem 0;
                    i{
                        font-size: 3rem;
                        cursor: pointer;
                        color: $color4;
                    }
                }
                .star-error{
                    font-size: 0.625rem;
                    font-weight: bold;
                    color: red;
                    margin-bottom: 1rem;
                }
                .feedback{
                    font-size: 2rem;
                    font-weight: bolder;
                    color: $color2;
                    
                }
            }
            button{
                padding: 0.413rem 0.813rem;
                border: 2px solid $color2;
                border-radius: 3px;
                font-weight: bold;
                color: $color2;
                cursor: pointer;
                background-color: $color1;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $color2;
                    color: $color1;
                }
            }
        }
    }
}

.hide{
    display: none;
}
.show{
    display: block;
}